/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== GENERIC STYLES ====== */
body {
    background-color: white;
    font-family: 'poppins', sans-serif;
    font-size: 16px; 
    line-height: 1.5;
    color: black;
}
   
h1 {
    font-family: 'Russo One';
    font-size: 71px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;
}
   
h2 {
    font-family: 'Fredoka One';
    font-size: 35px;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 10px;
 }
   
h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 13px;
}

h4 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 13px;
}

p {
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: auto;
}

nav {
    background: #FAE1DC;
}

.container {
    padding: 1em;
}

.logo {
    background: none;
    width: 200px;
    display: block;
    margin: 0 auto
}

nav a:link,
nav a:visited {
    font-size: 18px;
    color: black;
    font-weight:bold;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav .current a:link,
nav .current a:visited {
    color: black;
}
  
.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon li {
    margin: 0 0.5rem;
}

.navbar a:hover {
    background-color: #F48C94;
    color: white;
    border-radius: 5px;
}

.fa-search, .fa-user, .fa-shopping-cart {
	font-size: 18px;
    background: none;
    color: black ;
}
  
button {
    background-color: #f6d8f7;
    color: #00584b;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 24px;
    border: 2px solid #f6d8f7;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    animation: expand 1.5s ease-in-out forwards;
}
  
@keyframes expand {
    0% {
      width: 150px;
      background-color: #f6d8f7;
    }
    100% {
      width: 200px;
      background-color: #d8e267;
      border-color: #d8e267;
      color: #00584b;
    }
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #d8e267;
    color: #00584b;
    padding: .5em 1em;
    font-weight: bold;
    text-decoration: none;
}
  
.skip-links a:focus {
    top: 0;
}

/* SECTION-SPACIFIC STYLES */

/* ====== WELCOME SECTION ===== */

.header-happypenguin {
    background-image: url(../images/3.2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 68px;
    padding-bottom: 68px;
    position: relative;
}

.header-happypenguin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/3.2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    animation: parallax 10s ease-in-out infinite;
}

@keyframes parallax {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -50%, 0);
    }
}

.header-happypenguin .container {
    /* background-color: rgba(255, 255, 255, 0.5); */
    color: white;
    padding-top: 50px;
    padding-bottom: 80px;
}

.header-happypenguin p {
    font-size: 18px;
}

.icecreamtype {
    list-style-type: disc;
    margin-left: 1.5em;
}

.explore-btn {
    float: left;
    margin-top: 1em;
}

/* ====== OUR VALUE SECTION ===== */

.section-value h2,
.section-value h3 {
    text-align: center;
}

.section-value h3 {
    text-decoration: underline;
}

.section-value p {
    text-indent: 2em;
}

.value {
    background: #f6d8f7;
    margin-bottom: 1em;
}

.img-value img {
    width: 100%;
    height: auto;
}

.text-value {
    padding: 1em;
}

.seemore-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}

/* ====== DISCOVERS SECTION ===== */

.section-discover {
    text-align: center;
    margin-bottom: 1em;
}

/* .section-discover h2 {
    margin-bottom: 1em;
} */

.tagline {
    font-size: 18px;
    /* font-weight: 600; */
}

.gallery {
    white-space: nowrap;
    overflow-x: auto;
}
  
.gallery picture {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer; /* add pointer icon on hover */
}

/* ====== FOOTER ===== */

footer {
    background: #FAE1DC;
    color: black;
    font-size: 12px;
}

footer .container {
    text-align: center;
}

.social-icons {
    font-size: 20px;
}
.copyright {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 0;
}

a {
    color: #00584b;
}

/* DESKTOP STYLES */

@media screen and (min-width: 1200px) {

    .container {
        width: 1168px;
        padding: 0 16px;
        margin: 0 auto;
    }

    body {
        font-size: 18px; 
    }

    nav .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }
    
    .nav-box {
        display: flex;
    } 

    .navbar {
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin-right: 1.5em;
    }
       
    nav a:link,
    nav a:visited {
        padding-left: 30px;
        padding-right: 30px;
    }

    .logo {
        width: 300px;
        margin: 0 auto;
        padding: 0;
        background: none;
    }

    /* ====== WELCOME SECTION ===== */

    .header-happypenguin {
        background-image: url(../images/3.jpeg);
    }
    
    .header-happypenguin::before {
        background-image: url(../images/3.jpeg);
    }


    /* ====== OUR VALUE SECTION ===== */

    .section-value h2 {
        margin-top: 1.5em;
        font-size: 40px;
    }

    .img-value img {
        width: 100%;
        height: auto;
    }

    .grid-value {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1em ;
    }
    
    .grid-value:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
    
    .grid-value:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .grid-value:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }

    .value {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .seemore-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 3.5em;
    }

    /* ====== DISCOVERS SECTION ===== */

    .tagline {
        font-size: 20px;
    }

    .gallery {
        margin-bottom: 3.5em;
    }

    /* ====== FOOTER ===== */
    
    footer {
        padding: 12px;
    }

    footer h4 {
        font-size: 16px;
    }
    
}

  
  
  
  
  
  
  
  




  




  
  
  
  
  
